<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music</title>
    <link rel="icon" href="/img/favicon.ico" />
    <link rel="stylesheet" href="/css/styles.css">
    <script
      src="https://kit.fontawesome.com/291ac0831b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="music_body">

    <nav class="music_nav_principal">
      <ul class="music_ul" type="none">
        <li><a href="/">| HOME</a></li>
        <li><a href="/about">| ABOUT</a></li>
        <li><a href="/music">| MUSIC</a></li>
        <li><a href="/contact">| CONTACT</a></li>
      </ul>
    </nav>
    <nav class="music_nav_sociales">
      <ul class="music_ul" type="none">
        <li>
          <a href="#" target="blank"><i class="fa-brands fa-twitter" style="color:#000205"></i></a>
        </li>
        <li>
          <a href="#" target="blank"><i class="fa-brands fa-facebook" style="color:#000205"></i></a>
        </li>
        <li>
          <a href="#" target="blank"><i class="fa-brands fa-spotify" style="color:#000205"></i></a>
        </li>
        <li>
          <a href="#" target="blank"><i class="fa-brands fa-apple" style="color:#000205"></i></a>
        </li>
        <li>
          <a href="#" target="blank"><i class="fa-brands fa-amazon" style="color:#000205"></i></a>
        </li>
        <li>
          <a href="#" target="blank"><i class="fa-brands fa-instagram" style="color:#000205"></i></a>
        </li>
      </ul>
    </nav>
    <h1>MUSIC //</h1>
    <section>
      <h5>Direct Links</h5>
      <ul type="none">
        <li><a href="#album">Album</a></li>
        <li><a href="#organiclove">Video: Organic Love</a></li>
        <li><a href="#streetLight">Video: Street Light</a></li>
      </ul>
      <article id="album">
        <h2>ALBUM <br />TWIST IN MY REALITY</h2>
        <img src="/img/emilia-play-list.png" alt="" width="640"/>
        <ol>
          <li><i class="fas fa-play fa-xs"></i>Organic Love | 2:40</li>
          <li><i class="fas fa-play fa-xs"></i>Twist in My Reality | 02:10</li>
          <li><i class="fas fa-play fa-xs"></i>Street Light | 03:28</li>
          <li>
            <i class="fas fa-play fa-xs"></i>Love Dont Live Here Anymore(cover)
            | 03:49
          </li>
        </ol>
        <h4><a href="#imgtop">Go Top</a></h4>
      </article>
      <article id="organiclove">
        <h2>VIDEO <br />ORGANIC LOVE</h2>
        <iframe
          src="https://player.vimeo.com/video/135166028?h=fdb0646ae5"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>

        <p>
          Directed by VINCE MALC & EMILIA COLE<br />
          Edited and Filmed by NICOLAS TROY<br />
          Produced by NIKI HEART, Wix Films LTD
        </p>
        <h4><a href="#imgtop">Go Top</a></h4>
      </article>
      <article id="streetLight">
        <h2>VIDEO <br />STREET LIGHT</h2>
        <iframe
          src="https://player.vimeo.com/video/134861419?h=24e3183108"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>

        <p>
          Directed by VINCE MALC & EMILIA COLE<br />
          Edited and Filmed by NICOLAS TROY<br />
          Produced by NIKI HEART, Wix Films LTD
        </p>
        <h4><a href="#imgtop">Go Top</a></h4>
      </article>
    </section>
  </body>
</html>
